---
import StepsItem from "./StepsItem.astro";

const { servicesHeading, servicesDescription, servicesSteps } =
  Astro.props.content;
---

<section
  class="bg-secondary-content py-12 sm:py-16 lg:py-20 text-primary-focus"
  id="serviceSteps"
>
  <div class="mx-auto px-4 md:px-6 lg:px-8 max-w-screen-xl">
    <div class="">
      <h2 class="text-3xl font-semibold md:text-4xl lg:text-5xl">
        {servicesHeading}
      </h2>
      <p class="mt-4 text-base sm:mt-8">
        {servicesDescription}
      </p>
    </div>

    <div
      class="sm:col-gap-12 row-gap-12 md:ga mt-10 grid grid-cols-1 sm:mt-16 sm:grid-cols-2 md:grid-cols-3 xl:mt-24"
    >
      {
        servicesSteps.map((item, index) => {
          return (
            <StepsItem
              stepsHeading={item.stepsHeading}
              stepsDescription={item.stepsDescription}
              stepsImgSrc={item.stepsImgSrc}
              stepsImgAlt={item.stepsImgAlt}
            />
          );
        })
      }
    </div>
  </div>
</section>
