---
import Button, { ButtonTwo } from "../Button";
import AstroButton from "./AstroButton.astro";
const { content } = Astro.props;
---

<section
  class="relative py-12 sm:py-16 lg:pt-20 xl:pb-0 overflow-x-hidden bg-neutral"
>
  <div
    class="shrink-0 from-white/40 absolute left-1/2 h-96 w-96 -translate-x-1/2 rounded-full border border-gray-500 bg-gradient-to-br"
  >
  </div>

  <div class="relative mx-auto max-w-screen-xl px-4 md:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h1
        class="mt-5 text-3xl font-medium leading-snug sm:text-5xl sm:leading-snug lg:text-6xl lg:leading-snug"
      >
        <span class="text-sm uppercase">{content.heroHeadingDescription}</span>
        <span class="font-semibold block uppercase">{content.heroHeading}</span>
      </h1>
      <h2
        class="mx-auto mt-4 max-w-3xl text-xl md:text-2xl lg:text-3xl leading-7"
      >
        {content.heroSubHeading}
      </h2>
      <div class="mt-10">
        <AstroButton
          title={content.descriptionButton}
          link="/"
          bgColor="bg-primary"
          textColor="text-neutral-content"
        />
        <AstroButton
          title={content.pricingButton}
          link="/"
          bgColor="bg-primary"
          textColor="text-neutral-content"
        />
        <AstroButton
          title={content.fAQButton}
          link="/"
          bgColor="bg-primary"
          textColor="text-neutral-content"
        />
      </div>
    </div>
  </div>

  <div
    class="mt-16 mb-16 flex flex-col items-center justify-center divide-y divide-gray-500 border border-gray-600 bg-accent shadow-lg md:flex-row md:divide-x md:divide-y-0 md:mt-32 text-xs md:text-sm"
  >
    <div class="flex max-w-xs items-center space-x-2 px-4 py-4">
      <!-- prettier-ignore -->
      <svg
        class="h-12 w-12"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
        ><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.00001 0.769043C6.26017 0.769043 5.52453 0.864057 4.83158 1.06063"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M0.75001 13.2307V6.49181C0.75001 4.84532 1.27674 3.58257 2.11801 2.66748"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.25 13.2308V7.57227"></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7 0.769043C9.68738 0.769043 12.3194 2.02268 13.0506 4.8437"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.34512 13.231C4.34512 13.231 4.01 12.175 3.75866 10.6465"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.65489 13.231C9.65489 13.231 10.5128 10.5275 10.5128 7.51072C10.5128 6.9208 10.4366 6.41965 10.3027 5.99512"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7 11.4219V12.4219"></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.48719 7.51072C3.48719 4.49393 5.47919 3.79883 7.00001 3.79883C7.45091 3.79883 7.94324 3.85993 8.41278 4.02453"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          d="M5.82499 8.51465C5.82499 7.57669 6.35106 7.06632 7 7.06632C7.64895 7.06632 8.17502 7.57669 8.17502 8.51465"
        ></path>
      </svg>
      <p>High Performance</p>
    </div>
    <div class="flex max-w-xs items-center space-x-2 px-4 py-4">
      <!-- prettier-ignore -->
      <svg
        class="h-12 w-12"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
        ><path
          fill="none"
          stroke="white"
          d="M1.88762 10.6061C2.05024 12.0408 3.26347 13.1594 4.70643 13.2106C5.43839 13.2366 6.18998 13.25 7.00002 13.25C7.81007 13.25 8.56165 13.2366 9.29361 13.2106C10.7366 13.1594 11.9498 12.0408 12.1124 10.6061C12.1691 10.1061 12.2084 9.59799 12.2084 9.08335C12.2084 8.56872 12.1691 8.06065 12.1124 7.56059C11.9498 6.1259 10.7366 5.00729 9.29361 4.95608C8.56165 4.93011 7.81007 4.91669 7.00002 4.91669C6.18998 4.91669 5.43839 4.93011 4.70643 4.95608C3.26346 5.00729 2.05024 6.1259 1.88762 7.56059C1.83093 8.06065 1.79169 8.56872 1.79169 9.08335C1.79169 9.59799 1.83093 10.1061 1.88762 10.6061Z"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.91665 4.91667V3.66667C9.91665 2.89312 9.60936 2.15125 9.06237 1.60427C8.51539 1.05729 7.77353 0.75 6.99998 0.75C6.22643 0.75 5.48457 1.05729 4.93759 1.60427C4.3906 2.15125 4.08331 2.89312 4.08331 3.66667V4.91667"
        ></path><path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7 8.50006L7 9.5"></path>
      </svg>
      <p>Secure Technologies</p>
    </div>
    <div class="flex max-w-xs items-center space-x-2 px-4 py-4">
      <!-- prettier-ignore -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mr-1 inline h-12 w-12"
        viewBox="0 0 20 20"
        fill="white"
      >
        <path
          fill-rule="evenodd"
          d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z"
          clip-rule="evenodd"></path>
      </svg>
      <p>Modernly Styled</p>
    </div>
  </div>

  <div class="w-full bg-secondary-content relative">
    <div
      class="grid justify-items-center relative mx-auto max-w-screen-xl px-4 md:px-6 lg:px-8"
    >
      <p class="text-neutral-focus text-center max-w-4xl py-4 md:py-8">
        {content.heroDescription}
      </p>
    </div>
  </div>
</section>
