---
import Button, { ButtonTwo } from "../Button";
const { content } = Astro.props;
---

<section class="max-w-full bg-neutral">
  <div
    class="relative mx-auto flex flex-col px-4 md:px-6 lg:px-8 sm:max-w-xl md:max-w-screen-xl md:flex-row"
  >
    <!-- Left Column -->
    <div
      class="my-auto mx-auto mt-10 w-full max-w-xl md:mt-56 lg:max-w-screen-xl"
    >
      <div class="mb-16 lg:mb-0 lg:max-w-xl">
        <div class="mb-6 max-w-2xl">
          <div>
            <p
              class="bg-teal-accent-400 mb-2 inline-block rounded-full py-px text-xs font-semibold uppercase tracking-wider"
            >
              {content.aboutMiniHeading}
            </p>
          </div>
          <h2
            class="mb-6 max-w-lg text-3xl font-bold tracking-tight sm:text-5xl sm:leading-snug"
          >
            {content.aboutHeading}
          </h2>
          <p class="">
            {content.aboutDescription}
          </p>
        </div>
        <div class="flex items-center gap-x-4">
          <Button title="Start Now" link="" />
          <ButtonTwo title="Learn more" link="" />
        </div>
      </div>
    </div>
    <!-- /Left Column -->

    <!-- Right Column -->
    <div
      class="flex h-full w-full space-x-3 overflow-hidden md:justify-end lg:px-2"
    >
      <!-- Col 2 -->
      <div
        class="my-auto mb-20 hidden w-56 flex-col space-y-3 md:mt-36 lg:flex"
      >
        <div class="rounded-xl bg-accent pt-10">
          <img
            class="h-full w-full object-contain"
            src={content.aboutImageOne}
            alt={content.aboutAltOne}
          />
        </div>
      </div>
      <div
        class="my-auto flex space-x-3 rounded-xl md:mt-36 md:w-60 md:flex-col md:space-y-3 md:space-x-0 md:px-4"
      >
        <div class="h-40 overflow-hidden rounded-xl bg-success">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src={content.aboutImageTwo}
            alt={content.aboutAltTwo}
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-error">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src={content.aboutImageThree}
            alt={content.aboutAltThree}
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-warning-content">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src={content.aboutImageFour}
            alt={content.aboutAltFour}
          />
        </div>
      </div>
    </div>
    <!-- /Right Column -->
  </div>
</section>
